* { margin: 0px;padding: 0px; outline: 0;}
html, body { width: 100%;}
body { background: #366;
	font-family: Verdana, Arial, Helvetica, sans-serif;}
#menu {  font-size: 0.7em;margin: 20px;position: relative;}
#menu ul { list-style-type: none;
}
#menu ul li a.primera { border-top: solid 1px #FFF;}
#menu ul li a.nivel1, 
#menu ul li a.nivel1ie { width: 24px;
	height: 23px;
	background: url(banner3.jpg) no-repeat;}
#menu ul li a {display: block;
	text-decoration: none;
	color: #fff;
	position: relative;
	text-align: center;}
#menu ul li a:hover, 
#menu ul li:hover a.nivel1 {
	background-color: #6CC;
	color: #000;
	position: relative;}
#menu ul li a.nivel1 {
	display: block!important;
	display: none;
	position: relative;}
#menu ul li ul {display: none;}
#menu ul li a:hover ul, 
#menu ul li:hover ul {display: block;
	position: absolute;
	top:23px;left:0;}
#menu ul li ul li a {width: 120px;
	background-color: #000;
	color: #fff;
	border: solid 1px #fff;
	border-top: none;padding: 8px;}
	#menu ul li ul li a:hover {position: relative;
		background-color: #399;color: #FFF;}
	table.falsa {border-collapse:collapse;border:0px;float: left;position: relative;}