
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://maxcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "-bootstrap-saas/assets/stylesheets/bootstrap";
$google-color: #dd4b39
.btn-google{
	background-color: $google-color;
	border-color:darken:($google-color,3%);
	color white;
	&:hover,&active,&focus{
	color:white;
	}
}